body {
  background-color: #c1ebe0;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}
.ch-container {
  max-width: 960px;
}

.lh-condensed {
  line-height: 1.25;
}

.invalid-feedback {
  width: 100%;
}

.myclass {
  height: 20px;
}
.pop {
  color: green;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
